@import url("https://fonts.googleapis.com/css?family=Raleway");

/** {
  box-sizing: border-box;
}*/

.hybrid .button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em; 
  text-align: left;
  width: 350px;
  height: 160px;
  min-width: 350px;
  max-width: 350px;
}


/*.hybrid .button {
  display: flex;
  flex-direction: column;
  align-items: top;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  font-size: 13px;
  padding: 5px 5px 10px 10px;
  margin: 5px;
  box-shadow: 5px 5px 5px rgb(200,200,240);
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}*/

  .hybrid .button.type1 {
    color: black; 
  }

    .hybrid .button.type1.type1::after,
    .hybrid .button.type1.type1::before {
      content: '';
      display: block;
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px; 
    }

    .hybrid .button.type1.type1::after {
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: #566473;
      border-right-color: #566473; 
    }

    .hybrid .button.type1.type1::before {
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: #566473;
      border-left-color: #566473; 
    }

    .hybrid .button.type1.type1:hover:after,
    .hybrid .button.type1.type1:hover:before {
      width: 100%;
      height: 100%; 
    }

  .hybrid .button.type2 {
    color: #16a085; 
  }

    .hybrid .button.type2.type2:after,
    .hybrid .button.type2.type2:before {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #16a085;
      transition: all 0.3s ease;
      transform: scale(0.85); 
    }

    .hybrid .button.type2.type2:hover:before {
      top: 0;
      transform: scale(1); 
    }

    .hybrid .button.type2.type2:hover:after {
      transform: scale(1); 
    }

  .hybrid .button.type3 {
    color: #435a6b; 
  }

    .hybrid .button.type3.type3::after,
    .hybrid .button.type3.type3::before {
      content: '';
      display: block;
      position: absolute;
      width: 20%;
      height: 20%;
      border: 2px solid;
      transition: all 0.6s ease;
      border-radius: 2px; 
    }

    .hybrid .button.type3.type3::after {
      bottom: 0;
      right: 0;
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: #435a6b;
      border-right-color: #435a6b;
    }

    .hybrid .button.type3.type3::before {
      top: 0;
      left: 0;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: #435a6b;
      border-left-color: #435a6b;
    }

    .hybrid .button.type3.type3:hover:after,
    .hybrid .button.type3.type3:hover:before {
      border-bottom-color: #435a6b;
      border-right-color: #435a6b;
      border-top-color: #435a6b;
      border-left-color: #435a6b;
      width: 100%;
      height: 100%; 
    }

  .hybrid .button.type4 {
    color: red; 
  }

    .hybrid .button.type4::after {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 0;
      left: 0;
      background-color: red;
      transition: width 0.3s ease-in-out; 
    }

    .hybrid .button.type4::after {
      bottom: 0; 
    }

    .hybrid .button.type4:hover::after {
      width: 50px; 
    }

.hybrid .button .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 10px 0px;
}

.hybrid .button .title h3 {
  padding: 5px 0px 5px 0px;
}

.hybrid .button .title svg {
  width: 25px;
  height: 25px;
}

.hybrid .button .text {
  height: 100%;
  max-width: 100%;
}

.hybrid .button .text p {
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.hybrid .icon {
  width: 0px;
  height: 0px;
}

.hybrid .canvas {
/*  display: none;*/
  width: 100%;
  float: left;
  overflow: hidden;
  margin: 0px;
  padding-bottom: 50px;
}