@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	box-sizing: border-box;
	background-color:#f6f6f6;
	margin: 0;
	padding: 0;
}

#page-container {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	display: block;
}

html {
    overflow-y: overlay;
}

html, body {
	max-width: 1200px;
	margin: auto;
	height: 100%;
	min-height: 100%;
	position: relative;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3%;
}

main {
	display: flex;
	justify-content: start;
}

footer {
	position: absolute;
	padding: 15px;
	bottom: 0px;
	width: 100%;
}

/*Navigation Bar*/

.ribbon {
	width: 100%;
	overflow: hidden;
	display: flex;
	list-style-type: none;
	background-color: #333;
	color: white;
	align-items: flex-start;
	margin-bottom: 10px;
}

.ribbon .title a, .ribbon .links a {
	font-size: 14px;
	background-color: #333;
	text-decoration: none;
	color: white;
	float: left;
	text-align: center;
	padding: 14px 16px;
	display: block;
}

.ribbon .links a:hover {
	color: #666;
	background-color: #111;
}

.ribbon .links .active {
	background-color: #4CAF50;
}

.ribbon .title .passive {
	background-color: #333;
}

.ribbon .links ul {
	display: flex;
}

.ribbon .links li {
	list-style: none
}

.ribbon .toggle {
	position: absolute;
	margin-top: 10px;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	background-color: #333;
}

.ribbon .toggle .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

/*Body-Center*/

.sidebar {
	display: none;
	float: left;
	height: 100%;
	margin: 0px;
	padding: 10px 10px 50px 0px;
	list-style-type: none;
}

.sidebar.active {
	display: block;
}

.sidebar.pydemo {
	width: 240px;
	min-width: 240px;
	max-width: 240px;
	border-right: 1px solid gray;
}

.sidebar.library {
	width: 132px;
	min-width: 132px;
	max-width: 132px;
}

.sidebar .toggle {
	display: none;
	background-color: #707070;
	color: #fffff0;
	cursor: pointer;
	padding: 10px 16px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	border: none;
	outline: none;
	transition: 0.4s;
	text-decoration: none;
}

.sidebar .accordion {
	color: #444;
	cursor: pointer;
	padding: 10px 10px;
	width: 100%;
	text-align: left;
	font-size: 14px;
	border: none;
	outline: none;
	transition: 0.4s;
	text-decoration: none;
}

.sidebar.pydemo .accordion:hover {
	font-weight: bold;
}

.sidebar.library .accordion {
	background-color: #eee;
}

.sidebar.library .accordion.active {
	background-color: #ccc;
}

.sidebar.library .accordion:hover {
	background-color: #ccc;
}

.sidebar .panel {
	display: none;
	padding: 0 28 20 10px;
	background-color: white;
	overflow: hidden;
}

.sidebar .panel.active {
	display: block;
}

.sidebar .item {
	padding: 10px 0px 10px 10px;
	display: flex;
}

.sidebar .item a {
	width: 100%;
	float: left;
	font-size: 12px;
	color: black;
	padding: 0px 12px 0px 4px;
	text-decoration: none;
}

.sidebar.pydemo .sidebar .item a {
	padding-left: 8px;
}

.sidebar .item a:hover {
	font-weight: bold;
}

.sidebar .item p {
	font-size: 13px;
	font-weight: bold;
	padding-left: 8px;
}

.hybrid {
	display: none;
	overflow: hidden;
	float: left;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-bottom: 50px;
}

.hybrid.active {
	display: flex;
}

.pythondemo {
/*	display: flex;*/
  width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #f5f5f5;
}

.pythondemo h1 {
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 17px;
	padding: 8px 0px 8px 1px;
}

.pythondemo h2 {
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 16px;
	padding: 16px 0px 0px 1px;
}

.pythondemo	p {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 13px;
	font-weight: 500;
}

.pythondemo .code {
  font-family: 'Courier New', monospace;
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-x: auto;
}

.pythondemo .terminal {
  font-family: 'Courier New', monospace;
  background-color: #000;
  color: #00ff00; /* Green text on black background */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-x: auto;
  font-size: 13px;
}

.pythondemo .graph {
  width: 100%;
  max-width: 600px;
/*  margin: 20px auto;*/
	padding-bottom: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.canvas {
	display: none;
	width: 100%;
	float: left;
	overflow: hidden;
	margin: 0px;
	padding-bottom: 50px;
}

.canvas.active {
	display: block;
}

.canvas .item {
	display: none;
}

.canvas .item.major {
	width: 100%;
}

.canvas .item.active {
	display: flex;
}

.canvas .item.major .panel {
	display: none;
	width: 100%;
	margin-bottom: 10px;
	background-color: #f4f0ec;
}

.canvas .item.major .panel a {
	font-size: 13px;
	color: black;
	text-decoration: none;
	padding: 10px 10px 10px 20px;
}

.canvas .item.major .panel a:hover {
	font-weight: bold;
}

.canvas .item .column-one {
	float: left;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 20px;
}

.canvas .item .column-one ul a {
	text-decoration: none;
	background: rgb(241,241,241);
}

.canvas .item .column-one h1 {
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 17px;
	padding: 8px 0px 8px 1px;
}

.canvas .item .column-one h2 {
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 16px;
	padding: 8px 0px 8px 1px;
}

.canvas .item .column-one h3 {
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 15px;
	padding: 8px 0px 8px 1px;
}

.canvas .item .column-one h4 {
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: 14px;
	padding: 8px 0px 8px 1px;
}

.canvas .item .column-one p {
	font-size: 13px;
	padding: 8px 0px 8px 1px;
}

.canvas .item .column-one ul li {
	background: rgb(241,241,241);
	width: 100%;
	font-size: 13px;
	padding: 3px 3px;
}

.canvas .item .column-one ul li:hover {
	color: #0078d4; /* Change the color on hover */
  cursor: pointer; /* Add a pointer cursor on hover */
}

.canvas .item .column-one ul p {
	background: rgb(241,241,241);
	font-size: 13px;
	padding: 3px 0px;
}

.canvas .item .column-one table {
  border-collapse: collapse;
  margin: 10px 10px 10px 15px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.canvas .item .column-one table thead tr {
  background-color: #009879;
  color: #000000;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
}

.canvas .item .column-one table th,
.canvas .item .column-one table td {
  padding: 12px 15px;
}

.canvas .item .column-one table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.canvas .item .column-one table tbody tr:last-of-type {
  border-bottom: 1px solid #009879;
}

.canvas .item .column-one ul {
	list-style: disc;
	list-style-type: square;
	background: rgb(241,241,241);
	padding: 0px 0px 5px 30px;
}

.canvas .item .column-two {
	float: left;
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 100%;
	margin: 0;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 20px;
}

.canvas .item .column-two a {
	float: bottom;
	font-size: 13px;
	line-height: 1.6;
	text-decoration: none;
	padding-left: 6px
}

.canvas .item .column-two h4 {
	padding-top: 10px;
	font-size: 16px;
	line-height: 2;
	padding-left: 6px
}

.canvas .item .column-two img {
	width: 220px;
	border-radius: 10px;
	padding: 5px;
}

.canvas .item .column-two p {
	font-size: 13px;
	line-height: 1.6;
	padding-left: 6px
}

@media screen and (max-width: 600px) {

	.ribbon {
		flex-direction: column;
		margin-bottom: 0px;
	}

	.ribbon .links {
		display: none;
		width: 100%;
	}

	.ribbon .links.active {
		display: flex;
	}

	.ribbon .links ul {
		width: 100%;
		flex-direction: column;
	}

	.ribbon .links li {
		width: 100%;
		text-align: center;
	}

	.ribbon .links li a {
		width: 100%;
		padding: .5rem 1rem;
	}

	.ribbon .toggle {
		display: flex;
	}

	main {
		display: block;
	}

	.sidebar {
		height: auto;
		position: relative;
		overflow: hidden;
		padding: 0px;
	}

	.sidebar.pydemo {
		width: 100%;
		max-width: 100%;
	}

	.sidebar.library {
		width: 100%;
		max-width: none;
		border-right: none;
	}

	.sidebar .toggle {
		display: block;
	}

	.sidebar .links {
		display: none;
		background-color: #707070;
		width: 100%;
	}

	.sidebar .links.active {
		display: block;
	}

	.sidebar .accordion {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		display: block;
		overflow: hidden;
		text-align: center;
		background-color: inherit;
		color: #fffff0;
	}

	.sidebar.pydemo .accordion {
		background-color: inherit;
	}

	.sidebar.library .accordion {
		background-color: inherit;
	}

	.sidebar .item {
		padding: 10px 30px 10px 25px;
	}

	.canvas {
		width: 100%;
		overflow: hidden;
		padding-right: 0px;
	}

	.canvas .item.page {
		flex-direction: column-reverse;
	}

	.canvas .item.major {
		flex-direction: column;
	}

	.canvas .item.minor {
		flex-direction: column-reverse;
	}

	.canvas .item.major .panel {
		display: none;
		flex-direction: column;
		background-color: #eee;
	}

	.canvas .item.major .panel.active {
		display: flex;
	}

	.canvas .item.major .panel a {
		width: 100%;
		text-align: center;
		background-color: inherit;
		padding: 10px 0px 10px 0px;
	}

	.canvas .item .column-two {
		width: 100%;
		justify-content: center;
		/*align-items: center;
		/*margin: auto;*/
	}

	.canvas .item .column-two a {
		padding-left: 0px;
	}

	.canvas .item .column-two h4 {
		padding-left: 0px;
	}

	.canvas .item .column-two img {
		display: none;
	}

	.canvas .item .column-two p {
		padding-left: 0px;
	}

}

/*Footer*/

.infobar, .contactbar {
	width: 100%;
	list-style-type: none;
	padding: 0;
}

.infobar, .contactbar li a {
	font-size: 12px;
	color: black;
	text-decoration: none;
	float: left;
	text-align: center;
	padding: 0px 10px;
}

.contactbar li a:hover {
	font-weight: bold; 
}