<div id="{{ page.mdname }}" class="item page">
  <div class="column-one">
    {{ page['html-preface'] }}
  </div>
</div>
{% for major in page.majors %}
<div id="{{ major.mdname }}" class="item major">
  <div class="panel">
    {% for item in major['items'] %}
      <a href="#" onclick="changeCanvasItemFromCanvas('{{ item.mdname }}')">{{ item['title'] }}</a>
    {% endfor %}
  </div>
  <div class="column-one">
    {{ major['html-preface'] }}
  </div>
</div>
  {% for item in major['items'] %}
  <div id="{{ item.mdname }}" class="item minor">
    {% if 'html-column-1' in item %}
      <div class="column-one">
        {{ item['html-column-1'] }}
      </div>
    {% endif %}
    {% if 'html-column-2' in item %}
      <div class="column-two">
        {{ item['html-column-2'] }}
      </div>
    {% endif %}
  </div>
  {% endfor %}
{% endfor %}
