<button class="toggle">{{ page['title'] }}</button>

<div class="links">

{% set maincounter = namespace(value=1) %}
{% for major in page.majors %}
  <button class="accordion" onclick="changeCanvasItemFromSidebar({{ maincounter.value }})">{{ major['title'] }}</button>
  {% set maincounter.value = maincounter.value + 1 %}
  <div class="panel">
  {% for item in major['items'] %}
    <div class="item">
      <a href="#" onclick="changeCanvasItemFromSidebar({{ maincounter.value }})">{{ item['title'] }}</a>
    </div>
    {% set maincounter.value = maincounter.value + 1 %}
  {% endfor %}
  </div>
{% endfor %}
  
</div>
